/*!CK:2850950975!*//*1404107711,*/

.sp_aWrrb18AF6B{background-image:url(/rsrc.php/v2/yg/r/xsflb9AJZcZ.png);background-size:16px 32px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_aWrrb18AF6B.sx_94d0ec{width:12px;background-position:0 -16px}.sp_aWrrb18AF6B.sx_ad7fad{background-position:0 0}

#bootloader_DZw_F { height: 42px; }
.bootloader_DZw_F { display:block !important; }