/*!CK:2165041011!*//*1445855922,*/

.sp_Jmg8Ki1A2vZ{background-image:url(/rsrc.php/v2/yC/r/n8d8P-1U83n.png);background-size:30px 70px;background-repeat:no-repeat;display:inline-block;height:28px;width:28px}.sp_Jmg8Ki1A2vZ.sx_77f4a8{width:8px;height:8px;background-position:0 -60px}.sp_Jmg8Ki1A2vZ.sx_695fe8{background-position:0 0}.sp_Jmg8Ki1A2vZ.sx_1bdad2{background-position:0 -30px}

#bootloader_iXYXT { height: 42px; }
.bootloader_iXYXT { display:block !important; }